.photopost {
    height: 72%;
    width: 100%;
    margin-bottom: 10px;
}

.user-handle {
    height: 40px;
    width: 100%;
}

.user-button {
    padding: 0px;
    height: 40px;
    width: inherit;
    vertical-align: middle;
}

.user-button .user-avatar {
    left: 0px !important;
    width: 30px;
    height: 30px;
    margin: 4px;
    border-radius: 100%;
    float: left;
}

.user-button .username {
    float: left;
    font-size: 16px;
    margin: 9px;
}

.photo-container {
    left: inherit;
    width: 100%;
    height: 70%;
}

.post-photo {
    max-width: 100%;
    height: auto;
    align-self: center;
}

#definitely-not-zoomed-photo {
    position: fixed;
    background: rgba(32, 32, 32, 0.3);
    width: 100%;
    height: 100%;
    z-index: 9;
}

.zoomed-photo {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    line-height: 200px;
}

#zoomed-photo-pic {
    position: absolute;
    vertical-align: middle;
    left: 10%;
    width: 80%;
    height: auto;
}

.zoomed-photo button {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
    margin: 5px;
    z-index: 11;
}

.post-info {
    width: 100%;
    max-height: 180px;
    margin-top: 10px;
}

.post-text {
    max-height: 90px;
    overflow: auto;
    margin: 5px;
}

.post-hashtags {
    overflow: auto;
    width: 100%;
    height: auto;
    margin: 5px;
}

.post-date {
    height: 10px;
    float: right;
    margin: 5px;
}

.post-footer {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.post-footer button {
    padding: 0px;
}

.post-footer-buttons {
    position: absolute;
    width: 100%;
    height: 40px;
    vertical-align: middle;
}

.like-button {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 40px;
    border: 0px;
}

.like-button-img {
    max-width: 100%;
    height: auto;
}

.like-counter {
    position: absolute;
    top: 0px;
    left: 40px;
    height: 30px;
    width: 30px;
    border: 0px;
    margin: 5px;
    font-size: 24px;
}

.comment-button {
    position: absolute;
    top: 0px;
    left: 84px;
    height: 40px;
    width: calc(100% - 92px) !important;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    vertical-align: top;
    border: 0px;
    border-bottom: 1px solid #444444;
}

.comment-button p {
    font-size: 18px;
    margin: 6px;
}

.more-button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    border: 0px;
}

.post-more {
    visibility: hidden;
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 45px;
    right: 0px;
}

.post-more button {
    visibility: hidden;
    width: 100%;
    height: 33.33333333%;
}