* {
    position: relative;
}

body {
    margin: 0px;
}

header {
    height: 60px;
    background: #CECECE;
    margin-bottom: 5px;
    border-bottom: 3px solid #999999;
}

#header-container {
    height: inherit;
}

#main-logo-button {
    position: absolute;
    margin: 5px;
    left: 2%;
    height: 50px;
    width: 50px;
    padding: 0px;
    border: 0px;
    border-radius: 100%;
}

#main-name {
    position: absolute;
    width: 160px;
    height: auto;
    left: calc(50% - 90px);
    top: 1.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logged-user-avatar {
    position: absolute;
    right: calc(2% + 60px);
    height: 40px;
    width: 40px;
    margin: 10px;
    border: 0px;
    border-radius: 100%;
    visibility: hidden;
}

#main-menu {
    position: absolute;
    right: 2%;
    height: 30px;
    width: 30px;
    margin: 15px;
    padding: 0px;
    border: 0px;
}

footer {
    background: #CECECE;
    margin-top: 5px;
    border-top: 3px solid #999999;
}

.footer-container {
    width: 100%;
    height: 140px;
}

footer a {
    left: 5px;
}

footer p {
    left: 5px;
    max-width: 50%;
}

button {
    background: #FFFFFF;
    outline: none;
    border-width: 1px;
    border-color: #CECECE;
    cursor: pointer;
}

#photofeed {
    scroll-behavior: auto;
    align-items: normal;
    left: 16.666666666666666666666666666666666666666666666666% !important;
    width: 66.666666666666666666666666666666666666666666666666%;
}

#feed-head {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#post-search {
    position: absolute;
    left: 30%;
    width: 40%;
    height: auto;
    align-self: center;
    font-size: 21px;
}

#clear-post-search {
    /*visibility: hidden;*/
    position: absolute;
    right: 30%;
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 0px;
    border: 0px;
}

#add-photo-button {
    visibility: hidden;
    position: absolute;
    right: 0px;
    width: 50px;
    height: 30px;
    font-size: 24px;
    padding: 0px;
    border: 0px;
}

.photopost {
    height: 72%;
    width: 100%;
    margin-bottom: 10px;
}

.user-handle {
    height: 40px;
    width: 100%;
}

.user-button {
    padding: 0px;
    height: 40px;
    width: inherit;
    vertical-align: middle;
}

.user-button .user-avatar {
    left: 0px !important;
    width: 30px;
    height: 30px;
    margin: 4px;
    border-radius: 100%;
    float: left;
}

.user-button .username {
    float: left;
    font-size: 16px;
    margin: 9px;
}

.photo-container {
    left: inherit;
    width: 100%;
    height: 70%;
}

.post-photo {
    max-width: 100%;
    height: auto;
    align-self: center;
}

.zoomed-photo {
    position: fixed;
    top: 0px;
    left: 0px;
    max-width: 100%;
    height: auto;
    background-color: #AAAAAA;
    z-index: 10;
}

.zoomed-photo button {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
    margin: 5px;
    z-index: 11;
}

.post-info {
    width: 100%;
    max-height: 180px;
    margin-top: 10px;
}

.post-text {
    max-height: 90px;
    overflow: auto;
    margin: 5px;
}

.post-hashtags {
    overflow: auto;
    width: 100%;
    height: auto;
    margin: 5px;
}

.post-date {
    height: 10px;
    float: right;
    margin: 5px;
}

.post-footer {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.post-footer button {
    padding: 0px;
}

.post-footer-buttons {
    position: absolute;
    width: 100%;
    height: 40px;
    vertical-align: middle;
}

.like-button {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 40px;
    border: 0px;
}

.like-button-img {
    max-width: 100%;
    height: auto;
}

.like-counter {
    position: absolute;
    top: 0px;
    left: 40px;
    height: 30px;
    width: 30px;
    border: 0px;
    margin: 5px;
    font-size: 24px;
}

.comment-button {
    position: absolute;
    top: 0px;
    left: 84px;
    height: 40px;
    width: calc(100% - 92px) !important;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    vertical-align: top;
    border: 0px;
    border-bottom: 1px solid #444444;
}

.comment-button p {
    font-size: 18px;
    margin: 6px;
}

.more-button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    border: 0px;
}

#load-button {
    height: 40px;
    width: 40px;
    left: calc(50% - 20px);
    align-items: normal;
    margin-bottom: 10px;
    padding: 0px;
    border: 0px;
    border-radius: 100%;
}

#load-button-img {
    margin: 2px;
}